{% extends "tracker/base.html" %}

{% block head %}
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}" charset="utf-8">
{% endblock %}
{% block body %}
  <div id="about" class="container">
    <div>
      <h2>About The Site</h2>
    </div>

    <div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/django.png' %}">
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <a class="projectlink" href="https://github.com/pattern-of-life/tracker">
              Django App
            </a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/splash.jpg' %}">
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <a class="projectlink" href="https://github.com/pattern-of-life/tracker-hardware">
              Firmware
            </a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/ansible.png' %}">
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            <a class="projectlink" href="https://github.com/pattern-of-life/trackerpy-ansible">
              Ansible Playbook
            </a>
          </p>
        </div>
      </div>
    </div>

    <div>
      <h2>About The Team</h2>
      
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/david photo.jpg' %}">
          <div><strong>David Banks</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            Hi, my name is David, I enjoy moonlighting on the town with my beautiful wife.  I also enjoy diddling with hardware, writing mean Python code and going to the shooting range.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/derek photo.jpg' %}">
          <div><strong>Derek Hewitt</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            Hi, I'm Derek, 6 foot 3 inches tall, single and looking.  Skilled in the art of survival, programing in Python, and quilting, hit me up on my github or linkedin.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/justin photo.jpg' %}">
          <div>
            <strong>Justin Lange</strong>
          </div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            Hi, I'm J-Dizzle or that's what all the other programming wizards call me.  I don't bother learning new languages, I write them myself. Code fellows needs to step up their game because I don't drink tap water.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-1 img-shift">
          <img class="mug" src="{% static 'images/victor photo.jpg' %}">
          <div><strong>Victor Benavente</strong></div>
        </div>
        <div class="col-sm-8">
          <p class="blurb">
            Hi, I'm Vic, when I'm not programming JavaScript by mistake in my Python class, I'm getting drunk and losing my bookbag in Downtown Seattle, then I have to go to Lake City and try and retrieve it.  Lame.
          </p>
        </div>
      </div>
    </div>
    </div>
  {% endblock %}
