<!DOCTYPE html>
<html>
<head>
  <title>TrackerPy</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}" charset="utf-8">
  {% block head %}
  {% endblock %}
</head>
<header>
</header>
<body>
  {% block body %}
  {% endblock %}
</body>
<footer>
</footer>
</html>
