{% extends "tracker/base.html" %}
{% block head %}
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}" charset="utf-8">
{% endblock %}
{% block body %}
<div id="home">
  <header>
    <h2>Welcome to TrackerPy</h2>
  </header>
  <div class="buttons">
    {% if request.user.is_authenticated %}
      <a href="{% url 'auth_logout' %}">
        <input type="button" value="Log Out" class="btn btn-primary"/>
      </a>
    {% else %}
      <a href="{% url 'auth_login' %}">
        <input type="button" value="Log In" class="btn btn-primary"/>
      </a>
      <a href="{% url 'registration_register' %}">
        <input type="button" value="Sign Up" class="btn btn-primary">
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}
