.btn {
  background: linear-gradient(to top, #891A00, #FB7600);
  color: white;
}

.btn:hover {
  color: #203454;
  font-weight: bold;
}

label {
  font-size: 1.5em;
}

#base {
    font-weight: bold;
}

#base .navbar-brand {
    background: linear-gradient(to top, #891A00, #FB7600);
    border-radius: .3em;
    color: white;
}

#base nav a {
    font-size: 1.5em;
}

#base nav {
    margin-top: 1em;
}

#base {
    text-align: center;
}

#create-device {
  background: #203454;
  color: white;
}


#create-device input {
  font-size: 1.5em;
}

#create-device select {
  font-size: 1.5em
}

#create-route {
  background: #203454;
  color: white;
}

#create-route input {
  font-size: 1.5em;
}

#create-route select {
  font-size: 1.5em;
}

#create-data {
  background-color: #601D01;
  color: white;
}

#about .mug {
  height: 8em;
  width: 8em;
}

#about {
    background-color: #203454;
}

#about .row {
    padding-bottom: 1em;
}

#about .projectlink {
    font-size: 1.5em;
}

#about .project-spacer {
    margin-top: 2.5em;
}

#about h2 {
    margin-bottom: 1.5em;
    text-align: center;
}

#about .blurb {
    text-align: left;
    font-size: 1.3em;
}

#about .make-skinny {
    width: 65%;
    margin: 0 auto 2.25em auto;
    text-align: center;
}

#about .about_team_spacer {
    margin-top: 1em;
}

#about p {
  color: white;
}
