#base {
    font-weight: bold;
}

#base .navbar-brand {
    background: linear-gradient(to top, #891A00, #FB7600);
    border-radius: .3em;
}

#base nav a {
    font-size: 1.5em;
}

#base nav {
    margin-top: 1em;
}

#base {
    text-align: center;
}
